{% extends 'base.html' %}
{% load materializecss %}

{% block content %}
<div class="container">
  <h4>Search for books in Google API:</h4>
  <form class="col s12" method="POST" action=".">
    {% csrf_token %}
    {{form|materializecss}}
    <button type='submit' class="btn save-btn">{{btn_text}}</button>
  </form>
  <br />

  {% if books %}
  <table class="highlight striped centered responsive-table">
    <thead>
      <tr>
        <th>Cover</th>
        <th>Title</th>
        <th>Author</th>
        <th>Publication date</th>
        <th>ISBN</th>
        <th>Page count</th>
        <th>Publication language</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>

      {% for book in books %}
      <tr data-book-id="{{book.id}}" data-book-title="{{book.title}}">
        <td class="img-wrapper"><img class="centered materialboxed responsive-img" src="{{book.cover_url}}" alt="" /></td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.pub_date}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.page_count}}</td>
        <td>{{book.pub_language}}</td>
        <td><a href="{% url 'save' book.temp_id %}" class="edit-btn btn-small waves-effect waves-light btn modal-trigger">Save</a></td>
      </tr>
      {% endfor %}
      {% endif %}
</div>
{% endblock %}